<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/static/css/ejercicio2Css.css">
    <title>Inicio de Sesión</title>
</head>
<h1> Inicio de sesión
</h1>
<body>
<div>
    <form action="/ejercicio2" method="POST">
        <label for="user">Ingresa tu nombre </label>
        <input type="text" id="user" name="user" value = "{{user}}" required>
        <br>
        <label for="password">Ingresa contraseña</label>
        <input type="password" id="password" name="password" value = "{{password}}" required>
        <br>
        <button type="submit">Verificar</button>
    </form>
    {% if bienvenida%}
    <div class="aprobado">
        <p>  {{bienvenida}} {{user}} </p>
    </div>
    {% endif %}
     {% if incorrecto%}
    <div class="incorrecto">
        <p> {{incorrecto}}  </p>
    </div>
    {% endif %}
</div>

</body>
</html>